/*Importando as cores do site*/
@import url('colors.css');

/*Card-main settings*/
.container-contato-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-contato-main{
    background-color: var(--branco);
    max-width: 800px;
    margin: 20px auto;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0px 0px 10px #0000005b;
    padding: 30px 50px 40px 50px;
}


.container-contato-main .title{
    text-align: center;
    margin-bottom: 20px;
}

.container-contato-main .contato-wrapper{
    display: flex;
    background-color: white;
    margin: 20px 0;
    box-shadow: 0px 0px 10px #0000005b;
    border-radius: 20px;
    padding: 30px;
    justify-content: space-between;
    width: 100%;
}

.contato-wrapper .acoes-contato{
    align-self: center;
}

.contato-main p, .contato h2{
    margin: 5px 0;
}

.container-contato-main .contato-add{
    margin-top: 50px;
    text-align: center;
}
