<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/cadastroEdicao.css">
    <title>Cadastro de Clientes</title>

</head>
<body class="signup">

    <div class="main-container">

        <%- include('../components/header', {
            titulo: 'Cadastro de Contato',
            path: '/'
        })%>

        <div class="flex-container">
            <div class="container-contato">
        
                <form method="POST">
        
                    <div class="contato">
                        <h2>Cadastrar Contato</h2>
                        <label for="tipo">Tipo</label>
                        <input type="text" id="tipo" name="tipo" placeholder="Ex: Telefone, e-mail..." required>
                        <label for="valor">Valor</label>
                        <input type="text" id="valor" name="valor" placeholder="Ex: teste@email.com" required>
                        <label for="obs">Observação</label>
                        <input type="text" id="obs" name="obs" placeholder="Ex: Contato Principal" required>
                    </div>
                    <div class="center">
                        <button type="submit">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>

        <%- include('../components/footer')%>

    </div>


    <script type="module" src="/javaScript/pages/cadastro/cadastroContato.js"></script>
</body>
</html>
