<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/contatos.css">
    <title>Contatos Cadastrados</title>
</head>
<body>

    <div class="container-contato-flex">
        <div class="container-contato-main">

            <h2 class="center">Contatos</h2>
            
            <div class="all-contatos"></div>

        </div>
    </div>

    <script src="/javaScript/pages/contatos.js"></script>
</body>
</html>