<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>CRUD Muralis</title>
</head>
<body>

    <div class="flex-container">

        <div class="container-index">
        
            <form class="filtro_clientes">
                <h2>Filtrar Cliente</h2>
                <input id="nome" type="text" placeholder="Nome">
                <input id="cpf" type="text" placeholder="CPF ">
                <button type="submit" id="btn-filtro">Filtrar</button>
            </form>
            
            <div class="button">
                <a href="/cadastro">Cadastrar Cliente</a>
            </div>

            <div class="all-clientes"></div>

        </div>
    </div>

    
    <script src="/javaScript/pages/clientes.js"></script>
    <script src="/javaScript/pages/index.js"></script>
</body>
</html>